{% extends 'base_city.html' %}
{% block title %}Weather History Search{% endblock %}


{% block content %}
{% for city in cities %}

<div class="box">
    <article class="media">
        <div class="media-left">
                <img class="img-weather" src="http://openweathermap.org/img/w/{{ city.icon }}.png" alt="Image">
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <span class="city-n">{{ city.city|title }}</span>
                    <br>
                    <span class="city-temp">{{ city.temperature }}° C</span>
                    <br>
                    <span class="city-des">{{ city.description }}</span>
                    <br>
                    <span class="city-date">{{ city.searched }}</span>
                </p>
            </div>
        </div>
    </article>
</div>
{% endfor %}
{% endblock %}