html, body{
  padding: 0;
  margin: 0;
}

#title{
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  text-align: left;
  letter-spacing: 5px;
  color: red;
  padding-left: 10px;
}

.top-container{
  height: 100px;
  width: 100%;
  background-color: blue;
}

.enter-data{
  padding-top: 150px;
  text-align: center;
}